<a href="https://colab.research.google.com/github/A-RSH-ART/ASSIGNMENT-/blob/main/DATA_TYPES_AND_STRUCTURES_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **QUESTIONS**

In [1]:
#Data Types & Structure

1.What are data structures and why are they important?

- Data structures are specific ways to store and organize data in a computer so that it can be used efficiently. They are essential in computer science and programming because they allow for the efficient management, storage, and retrieval of data, which in turn improves the performance and scalability of software applications. Data structures help in solving complex problems by providing a framework to store and manipulate data in a structured manner. They play a crucial role in algorithm design, enabling programmers to create more efficient and effective solutions. In a nutshell, data structures are important because they form the building blocks of algorithms and software development, making it easier to work with data effectively in various computingÂ applications.

2. Explain the difference between mutable and immutable data types with examples.

- In programming, data types can be classified into two main categories: mutable and immutable.

Immutable Data Types

Immutable data types are those that cannot be changed once they are created. Any attempt to modify an immutable object will result in the creation of a new object.

Examples:

* Integers: x = 5 (cannot change the value of x without creating a new object)
* Strings: s = "hello" (cannot change the string s without creating a new string object)
* Tuples: t = (1, 2, 3) (cannot change the tuple t without creating a new tuple object)

Mutable Data Types

Mutable data types are those that can be changed after they are created. Modifying a mutable object will change the original object.

Examples:

* Lists: lst = [1, 2, 3] (can append, insert, or remove elements from the list)
* Dictionaries: d = {"name": "John", "age": 30} (can add, remove, or modify key-value pairs)
* Sets: s = {1, 2, 3} (can add or remove elements from the set)

Key differences:

* Modifiability: Immutable objects cannot be changed, while mutable objects can be modified.
* Memory allocation: Immutable objects are often stored in memory as a single, unchanging entity, while mutable objects may require dynamic memory allocation to accommodate changes.

3. What are main difference between lists and tuples in Python?

- In Python, list and tuple are two fundamental data structures. Here's a brief overview of the main differences:

List vs Tuple:

- Mutability:
    - List: Mutable, meaning you can modify the contents after creation (e.g., append, insert, remove elements).
    - Tuple: Immutable, meaning you cannot modify the contents after creation.
- Syntax:
    - List: Defined using square brackets [], e.g., [1, 2, 3].
    - Tuple: Defined using parentheses (), e.g., (1, 2, 3).
- Use cases:
    - List: Suitable for situations where data needs to be modified frequently, such as when working with dynamic data or implementing algorithms that require frequent insertions or deletions.
    - Tuple: Suitable for situations where data is constant or needs to be protected from modification, such as when representing a record or a constant collection of values.
- Performance:
    - Tuple: Generally faster and more memory-efficient than lists because they are immutable.
    - List: May require more memory and computation due to their dynamic nature.

4. Describe how dictionaries store data.

-  Dictionaries store data as key-value pairs, where each key is unique and maps to a specific value. The keys are used to access the corresponding values.

5. Why might you use a set instead of a list in Python?

 - You might use a set instead of a list in Python when you need to store a collection of unique elements and perform fast membership tests. Sets are also useful when you need to perform set operations such as union, intersection, and difference.

6. What is a string in Python, and how is it different from a list?

- A string in Python is a sequence of characters that is immutable, meaning it cannot be changed after creation. A list, on the other hand, is a mutable sequence of elements that can be of any data type, including strings.

7. How do tuples ensure data integrity in Python?

- Tuples ensure data integrity in Python by being immutable, meaning that once a tuple is created, its contents cannot be modified. This prevents accidental changes to the data and ensures that the data remains consistent.

8. What is a hash table, and how does it relate to dictionaries in Python?

- A hash table is a data structure that maps keys to values using a hash function. In Python, dictionaries are implemented as hash tables, which allows for fast lookups, insertions, and deletions.

9. Can lists contain different data types in Python?

- Yes, lists in Python can contain different data types, including strings, integers, floats, and other lists.

10. Explain why strings are immutable in Python.

 - Strings are immutable in Python because they are implemented as objects that cannot be changed after creation. This is done to ensure that strings are thread-safe and to prevent accidental changes to the data.

11. What advantages do dictionaries offer over lists for certain tasks?

 -    Dictionaries offer several advantages over lists for certain tasks, including:

- Fast lookups: Dictionaries allow for fast lookups by key, while lists require iterating over the entire list to find an element.
- Efficient insertions and deletions: Dictionaries can insert and delete elements efficiently, while lists may require shifting elements to make room for new elements.
- Key-value pairs: Dictionaries store data as key-value pairs, which can be more intuitive and efficient than storing data in a list.

12. Describe a scenario where using a tuple would be preferable over a list.

 - Using a tuple would be preferable over a list when you need to store a collection of elements that should not be changed after creation. For example, if you need to store a collection of constants or a record that should not be modified, a tuple would be a good choice.

13. How do sets handle duplicate values in Python?

 - Sets in Python handle duplicate values by automatically removing them. When you add an element to a set that is already present, the set will not contain duplicate values.

14. How does the "in" keyword work differently for lists and dictionaries?

- The "in" keyword works differently for lists and dictionaries in Python. For lists, the "in" keyword checks if an element is present in the list. For dictionaries, the "in" keyword checks if a key is present in the dictionary.

15. Can you modify the elements of a tuple? Explain why or why not.

- No, you cannot modify the elements of a tuple in Python. Tuples are immutable, meaning that once a tuple is created, its contents cannot be changed.

16. What is a nested dictionary, and give an example of its use case?

- A nested dictionary is a dictionary that contains another dictionary as a value. An example of its use case is storing data about a person, where the outer dictionary contains keys for the person's name, age, and address, and the inner dictionary contains keys for the address, such as street, city, and state.

17. Describe the time complexity of accessing elements in a dictionary.

- The time complexity of accessing elements in a dictionary in Python is O(1) on average, making it very efficient for large datasets.

18. In what situations are lists preferred over dictionaries?

  - Lists are preferred over dictionaries in situations where:

- The data is ordered or sequential.
- The data needs to be accessed by index.
- The data is homogeneous (i.e., all elements are of the same type).
- Memory efficiency is a concern, as lists generally require less memory than dictionaries.
- The data needs to be iterated over in a specific order.

Examples of such situations include:

- Storing a collection of items in a specific order, such as a list of tasks to be completed.
- Representing a matrix or a table where data is accessed by row and column indices.
- Implementing a queue or a stack data structure.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

 - Dictionaries are considered unordered because they store data in key-value pairs, and the order of these pairs is not guaranteed. This is due to the way dictionaries are implemented internally, using hash tables to store and retrieve data efficiently.

The unordered nature of dictionaries affects data retrieval in the following ways:

- No index-based access: Unlike lists, dictionaries do not support index-based access. Instead, data is accessed using keys.
- No guaranteed order: When iterating over a dictionary, the order of key-value pairs is not guaranteed and may vary between different runs of the program.
- Faster lookup: Dictionaries provide fast lookup times, with an average time complexity of O(1), making them suitable for applications where data needs to be retrieved quickly.

However, it's worth noting that in Python 3.7 and later, dictionaries maintain their insertion order, which can be useful in certain situations.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

 -   The main differences between lists and dictionaries in terms of data retrieval are:

- Access method: Lists are accessed using indices, while dictionaries are accessed using keys.
- Order: Lists maintain their order, while dictionaries are inherently unordered (although Python 3.7+ dictionaries maintain insertion order).
- Lookup time: Dictionaries generally provide faster lookup times than lists, especially for large datasets.
- Data structure: Lists are implemented as arrays, while dictionaries are implemented as hash tables.

When to use each:

- Use lists when:
    - You need to store a collection of items in a specific order.
    - You need to access data by index.
- Use dictionaries when:
    - You need to store data in key-value pairs.
    - You need fast lookup times.
    - You need to store data withÂ uniqueÂ keys.

**PRACTICAL QUESTIONS**

In [2]:
#1. Write a code to create a string with your name and print it.
name = "ARSHIYA"
print(name)

ARSHIYA

In [4]:
# 2. Write a code to find the length of the string "Hello World".
string = "Hello World"
length = len(string)
print(length)

11

In [5]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

In [6]:
# 4. Write a code to convert the string "hello" to uppercase.
string = "hello"
uppercase_string = string .upper()
print(uppercase_string)

HELLO

In [7]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple "
string = string.replace("apple", "orange")
print(string)

I like orange

In [8]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [9]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [10]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [13]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list = ['a','b','c','d']
print(list[1])

b

In [14]:
# 10. Write a code to reverse the list [10, 20,Â 30,Â 40,Â 50].
list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [15]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [16]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red', 'green', 'blue','yellow')
print(tuple[-2])

blue

In [17]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10,20,5,15)
print(min(tuple))

5

In [18]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
print(tuple.index('cat'))

1

In [19]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

tuple = ('apple','banana','orange',)
print('kiwi' in tuple)

False

In [21]:
 # 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {'a','b', 'c'}
 print(set)

{'b', 'a', 'c'}

In [22]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set = {1,2,3,4,5}
set.clear()
print(set)

set()

In [23]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [25]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [26]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1,2,3}
set2 = {2,3,4}
print(set1.intersection(set2))

{2, 3}

In [28]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {"name": "Arshiya","age": "26", "city":"Beed"}
print(dict)

{'name': 'Arshiya', 'age': '26', 'city': 'Beed'}

In [29]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict = {"name":"John","age":"25"}
dict["country"] = "USA"
print(dict)

{'name': 'John', 'age': '25', 'country': 'USA'}

In [30]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict = {'name': 'Alice', 'age': 30}
print(dict['name'])

Alice

In [31]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict['age']
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [33]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict = {'name': 'Alice', 'city': 'Paris'}
print('city' in dict)

True

In [34]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them
list = [1,2,3,4]
tuple = (1,2,3,4)
dict = {"name": "Arshiya","age":"26","city":"Beed"}
print(list,tuple,dict)

[1, 2, 3, 4] (1, 2, 3, 4) {'name': 'Arshiya', 'age': '26', 'city': 'Beed'}

In [36]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
list = [1,25,63,24,35]
list.sort()
print(list)

[1, 24, 25, 35, 63]

In [38]:
# 28. Write a code to create a list with strings and print the element at the third index.
list = ["apple","banana","orange","kiwi"]
print(list[2])

orange

In [39]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"name":"Arshiya","age":"26"}
dict2 = {"city":"Beed","country":"India"}
dict1.update(dict2)
print(dict1)

{'name': 'Arshiya', 'age': '26', 'city': 'Beed', 'country': 'India'}

In [54]:
# 30. Write a code to convert a list of stringsÂ intoÂ aÂ set.
list=["banana","apple","orange"]
list_set= set(list)
print(list_set)
print(type(list_set))

TypeError: 'list' object is not callable